--
-- PostgreSQL database dump
--

\restrict f4GAg1B7A9HtDnojsESDVB0hCYVqGilntdEaxVnCLhumKuhx4VV7Wkk1vwVN7Bv

-- Dumped from database version 15.15 (Debian 15.15-1.pgdg13+1)
-- Dumped by pg_dump version 15.15 (Debian 15.15-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: agendamentos; Type: TABLE; Schema: public; Owner: flowagenda
--

CREATE TABLE public.agendamentos (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    profissional_id uuid NOT NULL,
    cliente_id uuid NOT NULL,
    servico_id uuid,
    data_inicio timestamp with time zone NOT NULL,
    data_fim timestamp with time zone NOT NULL,
    status character varying(50) DEFAULT 'confirmado'::character varying NOT NULL,
    valor numeric(10,2),
    observacoes text,
    criado_em timestamp without time zone DEFAULT now() NOT NULL,
    atualizado_em timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.agendamentos OWNER TO flowagenda;

--
-- Name: clientes; Type: TABLE; Schema: public; Owner: flowagenda
--

CREATE TABLE public.clientes (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    nome character varying(255) NOT NULL,
    whatsapp character varying(20) NOT NULL,
    criado_em timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.clientes OWNER TO flowagenda;

--
-- Name: configuracoes_agenda; Type: TABLE; Schema: public; Owner: flowagenda
--

CREATE TABLE public.configuracoes_agenda (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    profissional_id uuid NOT NULL,
    antecedencia_cancelamento_horas integer DEFAULT 2 NOT NULL,
    horario_inicio time without time zone,
    horario_fim time without time zone,
    dias_ativos jsonb
);


ALTER TABLE public.configuracoes_agenda OWNER TO flowagenda;

--
-- Name: profissionais; Type: TABLE; Schema: public; Owner: flowagenda
--

CREATE TABLE public.profissionais (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    nome character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    senha_hash character varying(255) NOT NULL,
    tipo character varying(50),
    whatsapp character varying(20),
    criado_em timestamp without time zone DEFAULT now() NOT NULL,
    atualizado_em timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.profissionais OWNER TO flowagenda;

--
-- Name: servicos; Type: TABLE; Schema: public; Owner: flowagenda
--

CREATE TABLE public.servicos (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    profissional_id uuid NOT NULL,
    nome character varying(255) NOT NULL,
    duracao_minutos integer NOT NULL,
    intervalo_minutos integer DEFAULT 0 NOT NULL,
    preco numeric(10,2),
    ativo boolean DEFAULT true NOT NULL,
    criado_em timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.servicos OWNER TO flowagenda;

--
-- Name: agendamentos PK_3890b7448ebc7efdfd1d43bf0c7; Type: CONSTRAINT; Schema: public; Owner: flowagenda
--

ALTER TABLE ONLY public.agendamentos
    ADD CONSTRAINT "PK_3890b7448ebc7efdfd1d43bf0c7" PRIMARY KEY (id);


--
-- Name: configuracoes_agenda PK_91717d2e56a2584decc94d9e13f; Type: CONSTRAINT; Schema: public; Owner: flowagenda
--

ALTER TABLE ONLY public.configuracoes_agenda
    ADD CONSTRAINT "PK_91717d2e56a2584decc94d9e13f" PRIMARY KEY (id);


--
-- Name: servicos PK_91c99670ea2115d2028a48c5e0e; Type: CONSTRAINT; Schema: public; Owner: flowagenda
--

ALTER TABLE ONLY public.servicos
    ADD CONSTRAINT "PK_91c99670ea2115d2028a48c5e0e" PRIMARY KEY (id);


--
-- Name: profissionais PK_a6a3048111c78bd06ecd3b1360c; Type: CONSTRAINT; Schema: public; Owner: flowagenda
--

ALTER TABLE ONLY public.profissionais
    ADD CONSTRAINT "PK_a6a3048111c78bd06ecd3b1360c" PRIMARY KEY (id);


--
-- Name: clientes PK_d76bf3571d906e4e86470482c08; Type: CONSTRAINT; Schema: public; Owner: flowagenda
--

ALTER TABLE ONLY public.clientes
    ADD CONSTRAINT "PK_d76bf3571d906e4e86470482c08" PRIMARY KEY (id);


--
-- Name: clientes UQ_56e922bd38ae5c25e816728dc3b; Type: CONSTRAINT; Schema: public; Owner: flowagenda
--

ALTER TABLE ONLY public.clientes
    ADD CONSTRAINT "UQ_56e922bd38ae5c25e816728dc3b" UNIQUE (whatsapp);


--
-- Name: profissionais UQ_892d863fee8fd242da8736a25b9; Type: CONSTRAINT; Schema: public; Owner: flowagenda
--

ALTER TABLE ONLY public.profissionais
    ADD CONSTRAINT "UQ_892d863fee8fd242da8736a25b9" UNIQUE (email);


--
-- Name: configuracoes_agenda UQ_89a3922a753bf466ad179e64128; Type: CONSTRAINT; Schema: public; Owner: flowagenda
--

ALTER TABLE ONLY public.configuracoes_agenda
    ADD CONSTRAINT "UQ_89a3922a753bf466ad179e64128" UNIQUE (profissional_id);


--
-- Name: IDX_feebee7ef539f26f3499c30089; Type: INDEX; Schema: public; Owner: flowagenda
--

CREATE INDEX "IDX_feebee7ef539f26f3499c30089" ON public.agendamentos USING btree (profissional_id, data_inicio);


--
-- Name: agendamentos FK_32b9bd3190245a0077cdf41d95f; Type: FK CONSTRAINT; Schema: public; Owner: flowagenda
--

ALTER TABLE ONLY public.agendamentos
    ADD CONSTRAINT "FK_32b9bd3190245a0077cdf41d95f" FOREIGN KEY (servico_id) REFERENCES public.servicos(id) ON DELETE SET NULL;


--
-- Name: agendamentos FK_85e795b2f97d2f012070453d5ec; Type: FK CONSTRAINT; Schema: public; Owner: flowagenda
--

ALTER TABLE ONLY public.agendamentos
    ADD CONSTRAINT "FK_85e795b2f97d2f012070453d5ec" FOREIGN KEY (cliente_id) REFERENCES public.clientes(id) ON DELETE CASCADE;


--
-- Name: configuracoes_agenda FK_89a3922a753bf466ad179e64128; Type: FK CONSTRAINT; Schema: public; Owner: flowagenda
--

ALTER TABLE ONLY public.configuracoes_agenda
    ADD CONSTRAINT "FK_89a3922a753bf466ad179e64128" FOREIGN KEY (profissional_id) REFERENCES public.profissionais(id) ON DELETE CASCADE;


--
-- Name: servicos FK_d5f592b90d341299544b5d8f333; Type: FK CONSTRAINT; Schema: public; Owner: flowagenda
--

ALTER TABLE ONLY public.servicos
    ADD CONSTRAINT "FK_d5f592b90d341299544b5d8f333" FOREIGN KEY (profissional_id) REFERENCES public.profissionais(id) ON DELETE CASCADE;


--
-- Name: agendamentos FK_f4c50f34d5ebdd8581391242269; Type: FK CONSTRAINT; Schema: public; Owner: flowagenda
--

ALTER TABLE ONLY public.agendamentos
    ADD CONSTRAINT "FK_f4c50f34d5ebdd8581391242269" FOREIGN KEY (profissional_id) REFERENCES public.profissionais(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict f4GAg1B7A9HtDnojsESDVB0hCYVqGilntdEaxVnCLhumKuhx4VV7Wkk1vwVN7Bv

